.admin-shell {
  height: 100vh;
}

.admin-shell__sidenav {
  width: 260px;
}

.admin-shell__content {
  display: flex;
  flex-direction: column;
}

.admin-shell__main {
  flex: 1;
  overflow: auto;
  padding: 16px 24px;
}
